<?xml version="1.0" encoding="UTF-8"?>

<phpunit    bootstrap="test.bootstrap.inc.php"
            backupGlobals="false"
            backupStaticAttributes="false"
            syntaxCheck="false"
            forceCoversAnnotation="true"
            mapTestClassNameToCoveredClassName="true"
            colors="true">
    <testsuites>
        <testsuite name="Lunr Testsuite">
            <file>src/Lunr/Core/Tests/LocatorTest.php</file>
            <file>src/Lunr/Core/Tests/ConfigServiceLocatorBaseTest.php</file>
            <file>src/Lunr/Core/Tests/ConfigServiceLocatorSupportTest.php</file>
            <file>src/Lunr/Core/Tests/ConfigServiceLocatorGetInstanceTest.php</file>
            <file>src/Lunr/Core/Tests/ConfigServiceLocatorLocateTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>../src/Lunr/</directory>
            <exclude>
                <directory>../src/Lunr/Core/Tests/</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log    type="coverage-html"
                target="../build/coverage"
                title="Lunr"
                charset="UTF-8"
                yui="true"
                highlight="true"
                lowUpperBound="35"
                highLowerBound="70"/>
        <log    type="coverage-clover"
                target="../build/logs/clover.xml"/>
        <log    type="junit"
                target="../build/logs/junit.xml"
                logIncompleteSkipped="false"/>
    </logging>
</phpunit>
